.imgPart{
    width: 400px;
}
.imageDetail{
    margin-left: auto;
}
.teamDetailPart{
    background-color: #eb4034;
    color: #fff;
    border-radius: 10px;

}
.logoDetail{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}